.card {
  height: 300px;
  width: 300px;

  margin: 1rem;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: royalblue;
  border-radius: 10%;

  cursor: pointer;
}

.card:hover {
  filter: brightness(0.9);
}
